DEFAULT scarlix
PROMPT 0
TIMEOUT 30

LABEL scarlix
  LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
  INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
  # console=ttyS0 forces deterministic serial output for QEMU (v16.5 P0-3 fix).
  APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% scarlix_boot=1 console=tty0 console=ttyS0,115200n8
